<div style="display: inline-block; position: relative;">
  <% if tinder_user.matched? %>
    <input type="checkbox" style="position: absolute; top: 3px; right: 5px;">
  <% end %>

  <%= link_to tinder_user do %>
    <img src="<%= tinder_user.image_urls.first %>" style="width: 200px">
  <% end %>
</div>
