<div>
  <strong>Facebook ID:</strong> <%= liker.facebook_id %><br>
  <strong>Facebook token:</strong> <%= liker.facebook_token[0..20] %>...<br>
</div>

<div>
  <%= link_to "Edit", edit_liker_path(liker) %> |
  <%= link_to "Delete", liker, method: :delete, data: { confirm: "Sure?" } %>
</div>
