<div>
  <% if match_finder.running %>
    <%= link_to "Stop looking for matches", stop_liker_match_finder_path(match_finder.liker), method: :post %>
  <% else %>
    <%= link_to "Start looking for matches", start_liker_match_finder_path(match_finder.liker), method: :post %>
  <% end %>
</div>

<%= render partial: "shared/error", locals: { errorable: match_finder } %>
